.top-bar {
    padding: 30px;
    align-items: right;
    background: #c45d5d;
    color: white;
    font-size: 15px;
}

.body {
    background-color: #282c34;
    color: black;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    flex-shrink: 0; 
}

.user {
    text-align: right;
}

.footer {
    background-color: #cf5353;
    color: white;
    padding: 10px;
    display: flex;
    justify-content:center; /* Adjusts the spacing between items */
    align-items: center;
}

.content {
    flex: 1;
    overflow-y: auto;
    background-color: rgba(230, 196, 124, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: 35% 35% 30%;
    grid-template-rows: 50% 50%;
}

.item-detail {
    flex: 1;
    overflow-y: auto;
    background-color: rgba(230, 196, 124, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    color: black;
    font-size: large;
    text-align: left;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
}


.grid-subitem {
    background-color: rgba(240, 228, 173, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: left;

}

.addButton {
     background-color: rgb(58, 156, 58);
     color: rgb(255, 255, 255)
}
