html, body {
    height: 100%;
    overflow: hidden;
  }

.top-bar {
    padding: 30px;
    align-items: right;
    background: #c45d5d;
    color: white;
    font-size: 15px;
}

.body {
    background-color: #282c34;
    color: black;
}

.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    flex-shrink: 0; 
}

.user {
    text-align: right;
}

.footer {
    background-color: #cf5353;
    color: white;
    padding: 10px;
    display: flex;
    justify-content:center; 
    align-items: center;
}

.item-detail {
    background-color: rgba(230, 196, 124, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 5px;               
    height: calc(100vh - 100px);          
    overflow: hidden; 
}

.item-subitem {
    background-color: rgba(240, 228, 173, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: left;
    overflow-y: auto;
}

.content {
    background-color: rgba(230, 196, 124, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 5px;
    font-size: 30px;
    text-align: left;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;               
    height: calc(100vh - 100px);          
    overflow: hidden; 
}

.grid-subitem {
    background-color: rgba(240, 228, 173, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 15px;
    text-align: left;
    overflow-y: auto;
}

.item-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: wrap;
  }
  
  .item-container p {
    margin: 0;
    flex-grow: 1;
  }

  @media (max-width: 600px) {
    .item-container {
      flex-direction: column;
      align-items: flex-start;
    }
}

  .item-container button {
    margin-left: 0;
    margin-top: 5px;
  }
